/* main */
body {
    font-family: "Proxima Nova Rg", sans-serif;
    font-style: normal;
    color: #2c2c2c;
}
form {
    position: relative;
    width: 300px;
    margin: 0 auto;
    height: 42px;
}
a {
    color: #000 !important;
    text-decoration: none
}
a:visited { text-decoration: none; }
a:active { text-decoration: none; }
a:hover { text-decoration: none; }
.nums {
    font-weight: bold;
}

/* header */
.header {
    background-color: #f1f1f1;
    border-bottom: 1px solid #2c2c2c;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    z-index: 5;
}
.logo__logo {
    height: 50px;
}
.logo__search {
    height: 30px;
}
.logo__profile {
    height: 30px;
    margin-top: 8px;
}
.header__search {
    height: 42px;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background-color: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
.header__search:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 2px solid black;
}
.button_search {
    border: none;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: url('../icons/search.svg') no-repeat;
    background-size: 70%;
    background-position: 10px 8px;
}

/* content */
.content {
    padding-top: 90px;
    padding-bottom: 30px;
}
.avatar {
    width: 100%;
    border: 2px gray solid;
    border-radius: 50%;
}
.container_border {
    padding-bottom: 20px;
    border-bottom: 1px solid #2c2c2c;
}
.status_bar {
    margin-top: 20px;
}
.content_description {
    padding: 30px 0px;
}

/* photos */
.photos__format {
    width: 100%;
}

/* footer */
.footer_settings {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}