<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gachigram | Профиль</title>  
    <link rel="stylesheet" href="fonts/ProximaNova/ProximaNova.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-xl-3">
                    <a href="#"><img src="icons/logo.svg" class="logo__logo"></a>
                </div>
                <div class="col-xl-4 ml-auto">
                    <form>
                        <button class="button_search" type="submit"></button>
                        <input class="header__search" type="text" placeholder="Искать здесь...">
                    </form>
                </div>
                <div class="col-xl-1 ml-12">
                    <a href="#"><img src="icons/profile.svg" class="logo__profile"></a>
                </div>
            </div>
        </div>
    </header>
    <section class="content">
        <div class="container container_border">
            <div class="row">
                <div class="col-xl-3">
                    <img src="icons/avatar.png" class="avatar">
                </div>
                <div class="col-xl-6">
                    <div class="content_description">
                        Привет, меня зовут NAME. Здесь находится строки о мне! Это описание занимает 100 символов (4 строки максимум)
                    </div>
                </div>
            </div>
            <div class="row status_bar">
                <div class="offset-xl-2 col-xl-3">
                    <a href="#"><span class="nums">3</span> публикаций</a>
                </div>
                <div class="col-xl-3">
                    <a href="#"><span class="nums">362</span> подписчиков</a>
                </div>
                <div class="col-xl-3">
                    <a href="#">Подписки: <span class="nums">47</span></a>
                </div>
            </div>
        </div>
    </section>
    <section class="photos">
        <div class="container container_border">
            <div class="row">
                <div class="col-xl-4">
                    <a href="#"><img src="icons/photo1.png" class="photos__format"></a>
                </div>
                <div class="col-xl-4">
                    <a href="#"><img src="icons/photo2.jpg" class="photos__format"></a>
                </div>
                <div class="col-xl-4">
                    <a href="#"><img src="icons/photo3.jpg" class="photos__format"></a>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            Тут будет футер когда то
        </div>
    </footer>
    <script src="jquery/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>