<footer class="footer">
    <div class="container">
        <div class="row footer_settings">
            <div class="col-xl-1 offset-xl-3">
                <a href="#">О нас</a>
            </div>
            <div class="col-xl-4">
                <a href="#">Политика конфеденциальности</a>
            </div>
            <div class="col-xl-1">
                <a href="#">API</a>
            </div>
        </div>
    </div>
</footer>
<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/main2.js"></script>