<header class="header header_fixed">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <a href="{{ url_for('home') }}"><img src="/static/icons/logo.svg" class="logo__logo"></a>
            </div>
            <div class="col-xl-4 ml-auto">
                <form class="header-form__search">
                    <button class="button__search" type="submit"></button>
                    <input class="header__search" type="text" placeholder="Искать здесь...">
                </form>
            </div>
            <div class="col-xl-1">
                <a href="/profile_{{ current_user.login }}"><img src="/static/icons/profile.svg" class="logo__profile"></a>
            </div>
            <div class="col-xl-1">
                <a href="#"><img src="/static/icons/notif.png" class="logo__notif">
                <span id="forAlerts" data-content="{{ unread_count }}">&nbsp;{{ unread_count }}&nbsp;</a>
                {% include '_notifications.html' %}
            </div>
            <div class="col-xl-1">
                <a href="#modal1" class="open_modal">
                    <img src="/static/icons/settings.svg" class="logo__settings">
                </a>
            </div>
        </div>
    </div>
</header>