<header class="header header_fixed">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="{{ url_for('home') }}"><img src="/static/icons/logo.svg" class="logo__logo"></a>
            </div>
            <div class="col-1 ml-auto">
                <a href="/profile_{{ current_user.login }}">
                    <img src="/static/icons/profile.svg" class="logo__profile">
                </a>
            </div>
            <div class="col-1">
                <a href="/chat">
                    <img src="/static/icons/chat.jpg" class="logo_chat">
                </a>
            </div>
            <div class="col-1">
                <a href="#"><img src="/static/icons/notif.png" class="logo__notif">
                    <span id="forAlerts" data-content="{{ unread_count }}">&nbsp;{{ unread_count }}&nbsp;</span></a>
                {% include '_notifications.html' %}
            </div>
            <div class="col-1">
                <a href="#modal1" class="open_modal">
                    <img src="/static/icons/settings.svg" class="logo__settings">
                </a>
            </div>
        </div>
    </div>
</header>