<!DOCTYPE html>
<html lang="ru">
{% with page = "Лента" %}
    {% include '_head.html' %}
{% endwith %}
<body>
    <div id="modal1" class="modal_div">
        <a class="modal_item" href="{{url_for('settings')}}">Настройки профиля</a>
        <a class="modal_item" href="{{url_for('logout')}}">Выйти</a>
    </div>
    <div id="overlay"></div>
    <div id="temp" class="modal_div"></div>
    {% include '_header.html' %}
    <div id="psevdo" style="height: 72px; margin-bottom: 10px;"></div>
    <section class="photos">
        <div class="container container_border">
            {% for pub in publication %}
            <div class="row row-lenta">
                <div class="col content-middle">
                    <a href="#"><img id="pub{{ pub.id }}" src="{{ pub.content }}" class="photos__format align-middle publication"></a>
                    <div id="AboutPub"><a href="/profile_{{ pub.author.login }}" id="AboutPubLogin">{{ pub.author.login }}</a></div>
                </div>
            </div>
            {% endfor %}
            <div id="MorePublicationPlease" class="row">
                <button>Показать ещё</button>
            </div>
        </div>
    </section>
    {% include '_open_photo.html' %}
    {% include '_footer.html' %}
</body>
</html>