<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gachigram | Авторизация</title>
    <link rel="stylesheet" href="/static/fonts/ProximaNova/ProximaNova.css">
</head>
<body>
    <section class="register">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 offset-xl-3">
                    <img src="/static/icons/register-logo.jpg" class="_width100">
                </div>
                <div class="col-xl-3 login-form">
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <img src="/static/icons/logo.svg" class="_width100 _margin-         top"><br>
                        Fuckin slaves get your ass back here...<br>
                        <p>
                            {{ form.username(class="login__input-text", placeholder="Адрес эл. почты") }}
                        </p>
                        <p>
                            {{ form.password(class="login__input-text", placeholder="Пароль") }}
                        </p>
                        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                        <p>{{ form.submit() }}</p>
<!--                        <input type="email" class="login__input-text" placeholder="Адрес эл. почты"><br>-->
<!--                        <input type="password" class="login__input-text" placeholder="Пароль"><br>-->
<!--                        <input type="submit" value="Войти" class="login__button"><br>-->
                        Еще не зарегестрированы? <a href="/registration">Регистрация</a>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="row footer_settings">
                <div class="col-xl-1 offset-xl-3">
                    <a href="#">О нас</a>
                </div>
                <div class="col-xl-4">
                    <a href="#">Политика конфеденциальности</a>
                </div>
                <div class="col-xl-1">
                    <a href="#">API</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>