<!DOCTYPE html>
<html lang="ru">
{% with page = "Логин" %}
    {% include '_head.html' %}
{% endwith %}
<body>
    <section class="register">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 offset-xl-4 login-form">
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <img src="/static/icons/logo.svg" class="_width100 _margin-top"><br>
                        Fuckin slaves get your ass back here...<br>
                        <p>
                            {{ form.login.label }}<br>
                            {{ form.login(class="login__input-text", placeholder="Имя пользователя") }}
                            {% for error in form.login.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.password.label }}<br>
                            {{ form.password(class="login__input-text", placeholder="Пароль") }}
                            {% for error in form.password.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                        <p>{{ form.submit() }}</p>
                        Еще не зарегестрированы? <a href="{{ url_for('registration') }}">Регистрация</a>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% include '_footer.html' %}
</body>
</html>