<!DOCTYPE html>
<html lang="ru">
{% include '_head.html' %}
<body>
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <ul class="message_list">
                    {% for message_list in user.message_lists %}
                        {% set msg = message_list.get_last_message() %}
                        <li class="message_list__user">
                            {% set sender = msg.get_sender() %}
                            <a href="{{ url_for('profile', login=sender.login) }}" class="message_list__avatar">
                                <img src="{{ sender.avatar }}" alt="avatar">
                                {{ sender.login }}
                            </a>
                            <div class="message_list__text">
                                {{ msg.text }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>