<!DOCTYPE html>
<html lang="ru">
{% include '_head.html' %}
<body>
    <div id="modal1" class="modal_div">
        <a class="modal_item" href="{{url_for('settings')}}">Настройки профиля</a>
        <a class="modal_item" href="{{url_for('logout')}}">Выйти</a>
    </div>
    <div id="modal2" class="modal_div">
        <form action="/add_publication" name="form_newPub" method="post" enctype="multipart/form-data">
            <input name="newPub" type="file" accept="image/jpeg,image/png">
            <input id='description' type="text" placeholder="Описание к публикации" name='description'>
            <button type="submit" onclick="add_pub(); return false;">Опубликовать</button>
        </form>
    </div>
    <div id="overlay"></div>
    {% include '_header.html' %}
    <section class="content">
        <div class="container container_border">
            <div class="row">
                <div class="col-xl-3 ml-2">
                    <img src="{{ user.avatar }}" class="avatar">
                </div>
                <div class="col-xl-6">
                    <div class="content_description">
                        {{ user.description }}
                    </div>
                </div>
            </div>
            <div class="row status_bar">
                <div class="offset-xl-2 col-xl-3">
                    <a href="#"><span class="nums">{{ user.count_publications() }}</span> публикаций</a>
                </div>
                <div class="col-xl-3">
                    <a href="{{ url_for('subscribers', user=user.login, var='subscribers') }}"><span class="nums">{{ user.count_subscribers() }}</span> подписчиков</a>
                </div>
                <div class="col-xl-3">
                    <a href="{{ url_for('subscriptions', user=user.login, var='subscriptions') }}">Подписки: <span class="nums">{{ user.count_subscriptions() }}</span></a>
                </div>
            </div>
        </div>
    </section>
    <section class="photos">
        <div class="container container_border">
            <div class="row">
                <div class="col-xl-12">
                    <p id="addPub_error" class="p-3 mb-2 bg-dark text-white" style="padding: 15px; display: none;"></p>
                </div>
            </div>
            {% for publication in user.get_pubs() %}
                {% if loop.index in indexes %}
                    <div class="row align-items-center">
                {% endif %}
                <div class="col-xl-4">
                    <a style="display: block;" href="#"><img id="pub{{publication.id}}" src="{{publication.content}}" class="photos__format align-middle publication"></a>
                </div>
                {% if loop.index % 3 == 0 %}
                    </div>
                {% endif %}
            {% endfor %}
            {% if user == current_user %}
                {% if user.count_publications() % 3 == 0 %}
                    <div class="row align-items-center">
                        <div class="col-xl-4" style="text-align: center;">
                            <a href="#"  id="add"><img src="/static/icons/plus.png" class="photos__format align-middle" style="width: 150px;" ></a>
                        </div>
                    </div>
                {% else %}
                    <div class="col-xl-4" style="text-align: center;">
                        <a href="#"  id="add"><img src="/static/icons/plus.png" class="photos__format align-middle" style="width: 150px;" ></a>
                    </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </section>
    <section id="openPhoto" class="open-photo" style="pointer-events: all;">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 open-photo-container">
                    <a href="#"><img src="/static/icons/photo2f.jpg" class="open-photo__photo"></a>
                </div>
                <div class="col-xl-4 comments">
                    <div class="comments-comment">
                        <a href="#">
                            <div class="comment-nickname">
                                <img src="/static/icons/avatar1.jpg" class="avatar__format"><span class="_bold _text-padding">Van Darkholme</span><br>
                            </div>
                        </a>
                        <div class="comments-text">
                            Стареет внешность: яркие черты<br>
                            Стирает время властно и жестоко,<br>
                            Тогда как у духовной красоты<br>
                            Нет ни морщин, ни возраста, ни срока.
                        </div>
                    </div>
                    <div class="comments-comment">
                        <a href="#">
                            <div class="comment-nickname">
                                <img src="/static/icons/avatar2.jpg" class="avatar__format"><span class="_bold _text-padding">Billy Herrington</span><br>
                            </div>
                        </a>
                        <div class="comments-text">
                            Неважно какое у тебя лицо – важно, что оно выражает. Неважно какой у тебя голос – важно как дороги твои слова. Не имеет значения как ты говоришь – твои поступки говорят сами за себя.
                        </div>
                    </div>
                </div>
                <div class="col-xl-1">
                    <div class="buttons-block">
                        <a href="#"><img src="/static/icons/exit.png" class="logo__exit"></a><br>
                        <a href="#"><img src="/static/icons/like.png" class="logo__like"></a><br>
                        <span class="likes__count">300</span>
                        <a href="#"><img src="/static/icons/dislike.png" class="logo__dislike"></a><br>
                        <span class="dislikes__count">0</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include '_footer.html' %}
</body>
</html>