<!DOCTYPE html>
<html lang="ru">
    {% with page = "Профиль" %}
        {% include '_head.html' %}
    {% endwith %}
    <body>
        <div id="modal1" class="modal_div">
            <a class="modal_item" href="{{url_for('settings')}}">Настройки профиля</a>
            <a class="modal_item" href="{{url_for('logout')}}">Выйти</a>
        </div>
    <div id="modal2" class="modal_div">
        <form action="/add_publication" id="form_newPub" name="form_newPub" method="post" enctype="multipart/form-data">
            <input name="newPub" type="file" accept="image/jpeg,image/png">
            <input id='description' type="text" placeholder="Описание к публикации" name='description'>
            <button type="submit" onclick="add_pub(); return false;">Опубликовать</button>
        </form>
    </div>
    <div id="temp" class="modal_div"></div>
    <div id="overlay"></div>
    {% include '_header.html' %}
    <section class="content">
        <div class="container container_border">
            <div class="row">
                <div class="col-xl-3 ml-2">
                    <img src="{{ user.avatar }}" class="avatar">
                </div>
                <div class="col-xl-6">
                    <div class="content_description">
                        {{ user.description }}
                    </div>
                    {% if current_user != user %}
                        {% if not user in current_user.subscriptions %}
                            <button id="{{ user.login }}" class="button_sub btn-dark btn-sub">
                                Подписаться
                            </button>
                        {% else %}
                            <button id="{{ user.login }}" class="button_sub btn-dark btn-unsub">
                                Отписаться
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="row status_bar">
                <div class="offset-xl-2 col-xl-3">
                    <a href="#"><span class="nums">{{ user.count_publications() }}</span> публикаций</a>
                </div>
                <div class="col-xl-3">
                    <a href="{{ url_for('subscribers', user=user.login, var='subscribers') }}"><span class="nums">{{ user.count_subscribers() }}</span> подписчиков</a>
                </div>
                <div class="col-xl-3">
                    <a href="{{ url_for('subscriptions', user=user.login, var='subscriptions') }}">Подписки: <span class="nums">{{ user.count_subscriptions() }}</span></a>
                </div>
            </div>
        </div>
    </section>
    <section class="photos">
        <div class="container container_border">
            <div class="row">
                <div class="col-xl-12">
                    <p id="addPub_error" class="p-3 mb-2 bg-dark text-white" style="padding: 15px; display: none;"></p>
                </div>
            </div>
            {% for publication in user.get_pubs() %}
                {% if loop.index in indexes %}
                    <div class="row align-items-center pub_row">
                {% endif %}
                <div class="col-xl-4">
                    <a style="display: block;" href="#"><img id="pub{{publication.id}}" src="{{publication.content}}" class="photos__format align-middle publication"></a>
                </div>
                {% if loop.index % 3 == 0 %}
                    </div>
                {% endif %}
            {% endfor %}
            {% if user == current_user %}
                {% if user.count_publications() % 3 == 0 %}
                    <div class="row align-items-center pub_row">
                        <div class="col-xl-4" style="text-align: center;">
                            <a href="#"  id="add"><img src="/static/icons/plus.png" class="photos__format align-middle" style="width: 150px;" ></a>
                        </div>
                    </div>
                {% else %}
                    <div class="col-xl-4" style="text-align: center;">
                        <a href="#"  id="add"><img src="/static/icons/plus.png" class="photos__format align-middle" style="width: 150px;" ></a>
                    </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </section>
    <script src="/static/js/sub.js"></script>
    {% include '_open_photo.html' %}
    {% include '_footer.html' %}
</body>
</html>