<!DOCTYPE html>
<html lang="ru">
{% include '_head.html' %}
<body>
    <div id="modal1" class="modal_div">
        <a class="modal_item" href="#">Настройки профиля</a>
        <a class="modal_item" href="{{url_for('logout')}}">Выйти</a>
    </div>
    <div id="overlay"></div>
    {% include '_header.html' %}
    <section class="content">
        <div class="container container_border">
            <div class="row">
                <div class="col-xl-3 ml-2">
                    <img src="/static/icons/avatar.png" class="avatar">
                </div>
                <div class="col-xl-6">
                    <div class="content_description">
                        Привет, меня зовут NAME. Здесь находится строки о мне! Это описание занимает 100 символов (4 строки максимум)
                    </div>
                </div>
            </div>
            <div class="row status_bar">
                <div class="offset-xl-2 col-xl-3">
                    <a href="#"><span class="nums">3</span> публикаций</a>
                </div>
                <div class="col-xl-3">
                    <a href="#"><span class="nums">362</span> подписчиков</a>
                </div>
                <div class="col-xl-3">
                    <a href="#">Подписки: <span class="nums">47</span></a>
                </div>
            </div>
        </div>
    </section>
    <section class="photos">
        <div class="container container_border">
            <div class="row">
                <div class="col-xl-4">
                    <a href="#"><img src="/static/icons/1photo.jpg" class="photos__format align-middle"></a>
                </div>
                <div class="col-xl-4">
                    <a href="#"><img src="/static/icons/2photo.jpg" class="photos__format align-middle"></a>
                </div>
                <div class="col-xl-4">
                    <a href="#"><img src="/static/icons/3photo.jpg" class="photos__format align-middle"></a>
                </div>
            </div>
        </div>
    </section>
    <section id="openPhoto" class="open-photo">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1 open-photo-container">
                    <a href="#"><img src="/static/icons/photo2f.jpg" class="open-photo__photo"></a>
                </div>
                <div class="col-xl-1">
                    <div class="open-photo-buttons">
                        <a href="#"><img src="/static/icons/exit.png" class="logo__exit"></a><br>
                        <a href="#"><img src="/static/icons/like.png" class="logo__like"></a><br>
                        300
                        <a href="#"><img src="/static/icons/dislike.png" class="logo__dislike"></a><br>
                        0
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-1">
                    <a href="#"><img src="/static/icons/arrow.png" class="logo__arrow-left"></a>
                </div>
                <div class="col-xl-1">
                    <a href="#"><img src="/static/icons/arrow.png" class="logo__arrow-right"></a>
                </div>
            </div>
        </div>
    </section>
    {% include '_footer.html' %}
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>