<!DOCTYPE html>
<html lang="ru">
  {% with page = "Чат" %}
    {% include '_head.html' %}
  {% endwith %}
  <body>
    <div id="modal1" class="modal_div">
      <a class="modal_item" href="{{url_for('settings')}}">Настройки профиля</a>
      <a class="modal_item" href="{{url_for('logout')}}">Выйти</a>
    </div>
    <div id="overlay"></div>
    <div id="temp" class="modal_div"></div>
    {% include '_header.html' %}
    <section class="content">
      <div class="container container_border">
        <div class="row">
          <div class="offset-xl-3 col-6">
            <h3 style='color: #ccc;font-size: 30px;'>Пока нету сообщений..</h3>
            <div class="message_holder"></div>
            <form class="message_form" method="POST">
              <input type="text" class="message" placeholder="Messages">
              <input type="submit" class="btn-dark">
            </form>
          </div>
        </div>
      </div>
    </section>


    <script src="/static/js/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on( 'connect', function() {
        socket.emit('my event', {
          data: '{{user.login}} Connected'
        });
        $('h3').remove();
        socket.emit('my event', {
          user_name : '{{user.login}}',
          message : 'Connected!'
        });

        var form = $('.message_form').on('submit', function( e ) {
          e.preventDefault()
          let user_name = '{{user.login}}';
          let user_input = $( 'input.message' ).val();
          socket.emit('my event', {
            user_name : user_name,
            message : user_input
          });
          $('input.message').val('').focus();
        });
      })
      socket.on('my response', function( msg ) {
        console.log(msg);
        if (typeof msg.user_name !== 'undefined') {
          $('h3').remove()
          $('div.message_holder').append(
            '<div><a style="margin-right: 7px;" href="/profile_' + msg.user_name + '"><b style="color: #000">' +
            msg.user_name + ':</b></a>' + decodeURIComponent(escape(msg.message)) + '</div>')
        }
      })
    </script>
    {% include '_footer.html' %}
  </body>
</html>