<!DOCTYPE html>
<html lang="ru">
{% include '_head.html' %}
<body>
    {% include '_header.html' %}
    <section class="subscribers">
        <div class="container">
            <div class="row">
                <div class="col-xl-1 offset-xl-3">
                    <span class="_bold">Подписчики:</span><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-1 offset-xl-3">
                    <a href="#"><img src="icons/avatar1.jpg" class="subscrib__avatar-format"></a>
                </div>
                <div class="col-xl-5">
                    <a href="#"><span class="_bold">Van Darkholme</span></a><br>
                    Вьетнам, Ханой. 26 лет<br>
                    <button>Кнопка</button>
                </div>
            </div>
            <div class="row _margin-top">
                <div class="col-xl-1 offset-xl-3">
                    <a href="#"><img src="icons/avatar2.jpg" class="subscrib__avatar-format"></a>
                </div>
                <div class="col-xl-5">
                    <a href="#"><span class="_bold">Billy Herrington</span></a><br>
                    США, Нью-Йорк. 49 лет<br>
                    <button>Кнопка</button>
                </div>
            </div>
        </div>
    </section>
    {% include '_footer.html' %}
</body>
</html>