<!DOCTYPE html>
<html lang="ru">
{% if var == 'subscribers' %}
    {% with page = "Подписчики" %}
        {% include '_head.html' %}
    {% endwith %}
{% else %}
    {% with page = "Подписки" %}
        {% include '_head.html' %}
    {% endwith %}
{% endif %}
<body>
    {% include '_header.html' %}
    <div id="modal1" class="modal_div">
        <a class="modal_item" href="{{url_for('settings')}}">Настройки профиля</a>
        <a class="modal_item" href="{{url_for('logout')}}">Выйти</a>
    </div>
    <div id="overlay"></div>
    <div id="temp" class="modal_div"></div>
    <section class="subscribers">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    {% if var == 'subscribers' %}
                    <div class="_bold center">Подписчики <a href="{{ url_for('profile', login=user.login) }}" class="_bold">{{user.login}}</a></div>
                    {% else %}
                    <div class="_bold center">Подписки <a href="{{ url_for('profile', login=user.login) }}" class="_bold">{{user.login}}</a></div>
                    {% endif %}
                    <br><br>
                </div>
            </div>
            {% if var == 'subscribers' %}
                {% for subscriber in user.subscribers %}
                <div class="row">
                    <div class="col-xl-1 offset-xl-3">
                        <a href="{{ url_for('profile', login=subscriber.login) }}"><img src="{{ subscriber.avatar }}" class="subscrib__avatar-format"></a>
                    </div>
                    <div class="col-xl-5">
                        <a href="{{ url_for('profile', login=subscriber.login) }}"><span class="_bold">{{ subscriber.login }}</span></a><br>
                        {% if subscriber in current_user.subscriptions %}
                            <button id="{{ subscriber.login }}" class="btn-dark btn-unsub">Отписаться</button>
                        {% elif current_user != subscriber %}
                            <button id="{{ subscriber.login }}" class="btn-dark btn-sub">Подписаться</button>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            {% else %}
                {% for subscriber in user.subscriptions %}
                    <div class="row">
                        <div class="col-xl-1 offset-xl-3">
                            <a href="{{ url_for('profile', login=subscriber.login) }}"><img src="{{ subscriber.avatar }}" class="subscrib__avatar-format"></a>
                        </div>
                        <div class="col-xl-5">
                            <a href="{{ url_for('profile', login=subscriber.login) }}"><span class="_bold">{{ subscriber.login }}</span></a><br>
                            {% if subscriber in current_user.subscriptions %}
                                <button id="{{ subscriber.login }}" class="btn-dark btn-unsub">Отписаться</button>
                            {% elif current_user != subscriber %}
                                <button id="{{ subscriber.login }}" class="btn-dark btn-sub">Подписаться</button>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
    <script src="/static/js/sub.js"></script>
    {% include '_footer.html' %}
</body>
</html>