<!DOCTYPE html>
<html lang="ru">
{% include '_head.html' %}
<body>
    {% include '_header.html' %}
    <section class="subscribers">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    {% if var == 'subscribers' %}
                    <div class="_bold center">Подписчики <a href="{{ url_for('profile', login=user.login) }}" class="_bold">{{user.login}}</a></div>
                    {% else %}
                    <div class="_bold center">Подписки <a href="{{ url_for('profile', login=user.login) }}" class="_bold">{{user.login}}</a></div>
                    {% endif %}
                    <br><br>
                </div>
            </div>
            {% if var == 'subscribers' %}
                {% for subscriber in user.subscribers %}
                <div class="row">
                    <div class="col-xl-1 offset-xl-3">
                        <a href="{{ url_for('profile', login=subscriber.login) }}"><img src="{{ subscriber.avatar }}" class="subscrib__avatar-format"></a>
                    </div>
                    <div class="col-xl-5">
                        <a href="{{ url_for('profile', login=subscriber.login) }}"><span class="_bold">{{ subscriber.login }}</span></a><br>
                        {% if subscriber in current_user.subscriptions %}
                            <button class="btn-dark">Отписаться</button>
                        {% else %}
                            <button class="btn-dark">Подписаться</button>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            {% else %}
                {% for subscriber in user.subscriptions %}
                    <div class="row">
                        <div class="col-xl-1 offset-xl-3">
                            <a href="{{ url_for('profile', login=subscriber.login) }}"><img src="{{ subscriber.avatar }}" class="subscrib__avatar-format"></a>
                        </div>
                        <div class="col-xl-5">
                            <a href="{{ url_for('profile', login=subscriber.login) }}"><span class="_bold">{{ subscriber.login }}</span></a><br>
                            {% if subscriber in current_user.subscriptions %}
                                <button class="btn-dark">Отписаться</button>
                            {% else %}
                                <button class="btn-dark">Подписаться</button>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
    {% include '_footer.html' %}
</body>
</html>